aiofiles
annotated-types
anyio
bcrypt==4.1.2
click
ecdsa
fastapi
h11
idna
pyasn1
passlib
pydantic
pydantic_core
python-jose
python-multipart
rsa
six
sniffio
SQLAlchemy
starlette
typing_extensions
uvicorn
python-dotenv
scikit-learn
psycopg[binary]